[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-cors = "*"
pyhana = {git = "https://github.com/hpi-epic/pyhana.git"}
pyhdb = {git = "https://github.com/hpi-epic/pyhana.git"}
geojson = "*"


[dev-packages]



[requires]

python_version = "3.6"
