[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pyhana = {git = "https://github.com/hpi-epic/pyhana.git"}
pyhdb = {git = "https://github.com/hpi-epic/pyhana.git"}
click = "*"

[requires]
python_version = "3.6"
